<div class="dashboard-container">
  <div class="form">
    <h5> Country: </h5>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Select your country
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <% @countries.each do |country| %>
        <%= link_to country, root_path(query: country), class: "dropdown-item" %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="country">
    <% if @country.nil? || @country == 'All'  %>
      <h1> Global</h1>
    <% else %>
    <h1> <%= @country %> </h1>
    <% end  %>
  </div>

  <h1> Summary </h1>
  <div class="cards">
    <div class="card-category">
      <div class="card-title">
        <h4>Total revenues</h4>
        <hr>
      </div>
      <div class="card-figures">
         <%= @total_revenues %> M€
      </div>
    </div>

    <div class="card-category">
      <div class="card-title">
        <h4>Avr. revenue / order</h4>
        <hr>
      </div>
      <div class="card-figures">
         <%= @average_revenue %> €
      </div>
    </div>

    <div class="card-category">
      <div class="card-title">
        <h4>Customers</h4>
        <hr>
      </div>
      <div class="card-figures">
         <%= @number_of_customers %>
      </div>
    </div>
  </div>

  <div class="revenue-per-month">
    <h1> Revenue per month </h1>
    <div class="chart">
      <%= column_chart @orders.group_by_month{ |order| order.date }
      .map{|k, o| [k, revenue_month(k)]} %>


    </div>

  </div>

</div>
